# Includes
include theme.conf

# General
tab_activity_symbol " "
notify_on_cmd_finish unfocused
focus_follows_mouse yes
scrollback_pager_history_size 10
strip_trailing_spaces smart
allow_remote_control yes
confirm_os_window_close 0

# Window
hide_window_decorations titlebar-only
window_padding_width 0 4 0 4
background_opacity 0.9
background_blur 64

# Fonts
# Useful 'kitty --debug-font-fallback' and 'kitty +list-fonts --psnames'
font_size 16
font_family Victor Mono
bold_font Victor Mono Bold
italic_font Victor Mono Italic
bold_italic_font Victor Mono Bold Italic
font_features VictorMono-Bold +ss02 +ss06 
font_features VictorMono-Italic +ss02 +ss06
font_features VictorMono-Regular +ss02 +ss06
symbol_map U+23FB-U+23FE,U+2665,U+26A1,U+2B58,U+E000-U+E00A,U+E0A0-U+E0A3,U+E0B0-U+E0C8,U+E0CA,U+E0CC-U+E0D2,U+E0D4,U+E200-U+E2A9,U+E300-U+E3E3,U+E5FA-U+E62F,U+E700-U+E7C5,U+F000-U+F2E0,U+F300-U+F31C,U+F400-U+F4A9,U+F500-U+F8FF Symbols Nerd Font

# Tabs
tab_bar_style powerline
tab_powerline_style slanted

{{ if eq .chezmoi.os "darwin" -}}
macos_option_as_alt yes
macos_quit_when_last_window_closed yes
macos_colorspace displayp3
# Unmap cmd + k and handle clearing from zsh and 
map cmd+k no_op 
map cmd+v no_op
map cmd+b send_text normal,application \x02
map cmd+backspace send_text normal,application ⌘⌫
map alt+backspace send_text normal,application ⌥⌫
map cmd+shift+z send_text normal,application ⌘⇪z
map cmd+z send_text normal,application ⌘z
{{- end }}

map ctrl+, send_text normal,application ctrl-comma