foreground            #{{ .dracula.hex.foreground }}
background            #{{ .dracula.hex.background }}
selection_foreground  #{{ .dracula.hex.selectionForeground }}
selection_background  #{{ .dracula.hex.current_line }}

url_color #{{ .dracula.hex.cyan }}

# black
color0  #{{ .dracula.hex.color0 }}
color8  #{{ .dracula.hex.comment }}

# red
color1  #{{ .dracula.hex.red }}
color9  #{{ .dracula.hex.color9 }}

# green
color2  #{{ .dracula.hex.green }}
color10 #{{ .dracula.hex.color10 }}

# yellow
color3  #{{ .dracula.hex.yellow }}
color11 #{{ .dracula.hex.color11 }}

# blue
color4  #{{ .dracula.hex.purple }}
color12 #{{ .dracula.hex.color12 }}

# magenta
color5  #{{ .dracula.hex.pink }}
color13 #{{ .dracula.hex.color13 }}

# cyan
color6  #{{ .dracula.hex.cyan }}
color14 #{{ .dracula.hex.color14 }}

# white
color7  #{{ .dracula.hex.foreground }}
color15 #{{ .dracula.hex.selectionForeground }}

# Cursor colors
cursor            #{{ .dracula.hex.foreground }}
cursor_text_color #{{ .dracula.hex.background }}

# Tab bar colors
active_tab_foreground   #{{ .dracula.hex.background }}
active_tab_background   #{{ .dracula.hex.foreground }}
inactive_tab_foreground #{{ .dracula.hex.background }}
inactive_tab_background #{{ .dracula.hex.comment }}

# Marks
mark1_foreground #{{ .dracula.hex.background }}
mark1_background #{{ .dracula.hex.red }}

# Splits/Windows
active_border_color #{{ .dracula.hex.foreground }}
inactive_border_color #{{ .dracula.hex.comment }}
